[submodule "external/bluepad32"]
	path = external/bluepad32
	url = https://github.com/ricardoquesada/bluepad32.git
[submodule "external/PresistentConfig"]
	path = external/PresistentConfig
	url = git@github.com:Abhinaya-Restek-UNY/esp_PresistentConfig.git
